body {
    font-family: 'Special Elite';
    background: lightpink;
}
.header_div {
    background: white;
    color: rgb(255, 0, 38);
}
.header_div img { 
    width: 100px
 }
 .main_div {
      background:#ffd2c7;
       padding: 10px; 
       margin-top: 15px;
        border: 3px solid white; 
    }
    .main_div label { 
        background: white; 
        width: 310px; 
        padding: 10px; 
        margin-bottom: 0px; 
        box-shadow: 5px 5px 18px white; 
    
        }